@import "tailwindcss";
@import "../assets/fonts/fonts.css";

html, body {
  font-family: var(--font-svn-gilroy) !important;
  height: fit-content;
}

* {
  box-sizing: border-box;
}

button, input, textarea {
  @apply focus:outline-none focus-visible:ring-0 focus-visible:ring-offset-0 focus:ring-0 focus:ring-offset-0;
}

button {
  cursor: pointer;
}

@custom-variant dark (&:is(.dark *));
:root {
  --background: rgb(247, 247, 247);
  --foreground: rgb(25, 25, 25);
  --card: rgb(247, 247, 247);
  --card-foreground: rgb(25, 25, 25);
  --popover: rgb(247, 247, 247);
  --popover-foreground: rgb(25, 25, 25);
  --primary: rgb(24, 33, 103);
  --primary-foreground: rgb(242, 242, 242);
  --secondary: rgb(214, 214, 220);
  --secondary-foreground: rgb(26, 26, 26);
  --muted: rgb(215, 215, 219);
  --muted-foreground: rgb(122, 123, 133);
  --accent: rgb(214, 214, 220);
  --accent-foreground: rgb(26, 26, 26);
  --destructive: rgb(236, 20, 16);
  --destructive-foreground: rgb(242, 242, 242);
  --border: rgb(184, 187, 213);
  --input: rgb(186, 189, 212);
  --ring: rgb(152, 160, 221);
  --chart-1: rgb(24, 33, 103);
  --chart-2: rgb(30, 49, 122);
  --chart-3: rgb(38, 34, 119);
  --chart-4: rgb(36, 66, 117);
  --chart-5: rgb(38, 47, 115);
  --sidebar: rgb(247, 247, 247);
  --sidebar-foreground: rgb(25, 25, 25);
  --sidebar-primary: rgb(24, 33, 103);
  --sidebar-primary-foreground: rgb(242, 242, 242);
  --sidebar-accent: rgb(214, 214, 220);
  --sidebar-accent-foreground: rgb(26, 26, 26);
  --sidebar-border: rgb(184, 187, 213);
  --sidebar-ring: rgb(152, 160, 221);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-jost: "Jost", sans-serif;
  --font-svn-gilroy: "SVN-Gilroy", sans-serif;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --shadow-light: 0px 6px 15px 0px rgba(64, 79, 104, 0.108);
  --blue-not-hover: #1967d212;
  --blue-hover: #1967D2;
  --blue-share: #1967D2;
  --purple-share: #BC91E8;
  --red-share: #D93025;
  --blue-dark: #131A51;
}

.dark {
  --background: rgb(28, 28, 33);
  --foreground: rgb(242, 242, 242);
  --card: rgb(28, 28, 33);
  --card-foreground: rgb(242, 242, 242);
  --popover: rgb(28, 28, 33);
  --popover-foreground: rgb(242, 242, 242);
  --primary: rgb(50, 66, 207);
  --primary-foreground: rgb(242, 242, 242);
  --secondary: rgb(41, 41, 61);
  --secondary-foreground: rgb(242, 242, 242);
  --muted: rgb(55, 56, 72);
  --muted-foreground: rgb(147, 148, 159);
  --accent: rgb(41, 41, 61);
  --accent-foreground: rgb(242, 242, 242);
  --destructive: rgb(238, 42, 44);
  --destructive-foreground: rgb(242, 242, 242);
  --border: rgb(40, 41, 72);
  --input: rgb(42, 45, 71);
  --ring: rgb(27, 37, 110);
  --chart-1: rgb(50, 66, 207);
  --chart-2: rgb(65, 93, 206);
  --chart-3: rgb(87, 80, 205);
  --chart-4: rgb(95, 136, 206);
  --chart-5: rgb(110, 121, 207);
  --sidebar: rgb(28, 28, 33);
  --sidebar-foreground: rgb(242, 242, 242);
  --sidebar-primary: rgb(50, 66, 207);
  --sidebar-primary-foreground: rgb(242, 242, 242);
  --sidebar-accent: rgb(41, 41, 61);
  --sidebar-accent-foreground: rgb(242, 242, 242);
  --sidebar-border: rgb(40, 41, 72);
  --sidebar-ring: rgb(27, 37, 110);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-jost: "Jost", sans-serif;
  --font-svn-gilroy: "SVN-Gilroy", sans-serif;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --shadow-light: 0px 6px 15px 0px rgba(64, 79, 104, 0.108);
  --blue-not-hover: #1967d212;
  --blue-hover: #1967D2;
  --blue-share: #1967D2;
  --purple-share: #BC91E8;
  --red-share: #D93025;
  --blue-dark: #131A51;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-blue-not-hover: var(--blue-not-hover);
  --color-blue-hover: var(--blue-hover);
  --color-blue-share: var(--blue-share);
  --color-purple-share: var(--purple-share);
  --color-red-share: var(--red-share); 
  --color-blue-dark: var(--blue-dark);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-jost: var(--font-jost);
  --font-svn-gilroy: var(--font-svn-gilroy);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-light: var(--shadow-light);

  --breakpoint-990: 990px;
  --breakpoint-1320: 1320px;
  --breakpoint-1200: 1200px;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-blue-not-hover: var(--blue-not-hover);
  --color-blue-hover: var(--blue-hover);
  --color-blue-share: var(--blue-share);
  --color-purple-share: var(--purple-share);
  --color-red-share: var(--red-share);
  --color-blue-dark: var(--blue-dark);
  
}

@plugin "tailwind-scrollbar-hide";
@plugin "tailwindcss-animate";
@plugin "tailwind-scrollbar";

.will-change-transform {
  will-change: transform;
}

::selection{
  background-color: var(--blue-not-hover);
  color: var(--color-black)
}